/* LiquidLab Pattern BACKGROUNDS-----------------BACKGROUNDS-------------------*/
.bkg-1 {
	background-image: url(../optimized-liquidLab-images/optimized-inca-8.jpg);
	background-repeat: repeat;
	background-size: 128px;
}

.bkg-2 {
	background-image: url(../optimized-liquidLab-images/optimized-rukenfigur-phone.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.bkg-4 {
	background-image: url(../optimized-liquidLab-images/optimized-mega-tile-v3-07.jpg);
	background-repeat: repeat;
	background-attachment: scroll;
	background-size: 128px;
}

.bkg-7 {
	background-image: url(../optimized-liquidLab-images/optimized-sonja-langford.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.bkg-8 {
	background-image: url(../optimized-liquidLab-images/optimized-southwest-pattern-10.jpg);
	background-repeat: repeat;
	background-size: 256px;
	/*height: 100%;
	width: 100%;*/
}

.bkg-9 {
	background-image: url(../optimized-liquidLab-images/optimized-maja-petric-phone.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.bkg-11 {
	background-image: url(../optimized-liquidLab-images/optimized-todd-quackenbush-phone.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.bkg-12 {
	background-image: url(../optimized-liquidLab-images/optimized-apples-phone.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
}

.bkg-13 {
	background-image: url(../optimized-liquidLab-images/optimized-mega-tile-v3-04.jpg);
	background-attachment: scroll;
	background-size: 320px;
	width: 100%;
	height: 100%;
}

.bkg-14 {
	background-image: url(../optimized-liquidLab-images/optimized-farmer-phone.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.bkg-16 {
	display: none;
}

.bkg-17 {
	background-image: url(../optimized-liquidLab-images/optimized-southwest-pattern-10.jpg);
	background-repeat: repeat;
	background-size: 200px;
	/*height: 100%;
	width: 100%;*/
}

.bkg-18 {
	background-image: url(../optimized-liquidLab-images/optimized-southwest-pattern-11.jpg);
	background-repeat: repeat;
	background-size: 400px;
}

.bkg-20 {
	display: none;
}

/*for tablets and largest phones ------------------------------------------------------*/
@media only screen and (min-width:568px) {
/*background styles*/
	.bkg-2 {
		background-image: url(../optimized-liquidLab-images/rukenfigur.jpg);
	}
}

/* for laptops and bigger ------------------------------------------------------------- */
@media only screen and (min-width:961px) {
/*Background styles*/
	html {
		background-image: url(../optimized-liquidLab-images/gray_droplet.png);
		background-repeat: repeat;
		background-size: 13px;
		background-attachment: fixed;
	}

	.bkg-1 {
		background-size: 214px;
	}

	.bkg-2 {
		background-image: url(../optimized-liquidLab-images/optimized-rukenfigur.jpg);
	}

	.bkg-9 {
		background-image: url(../optimized-liquidLab-images/optimized-maja-petric.jpg);
	}

	.bkg-11 {
		background-image: url(../optimized-liquidLab-images/optimized-todd-quackenbush-reverse.jpg);
	}

	.bkg-12 {
		background-image: url(../optimized-liquidLab-images/optimized-apples.jpg);
	}

	.bkg-14 {
		background-image: url(../optimized-liquidLab-images/optimized-farmer.jpg);
	}

	.bkg-16 {
		background-image: url(../optimized-liquidLab-images/rukenfigur-pattern-4.png);
		background-repeat: no-repeat;
		background-size: cover;
		opacity: .2;
		display: block;
	}

	.bkg-20 {
		background-image: url(../optimized-liquidLab-images/mega-tile-v3-03.png);
		background-repeat: repeat;
		background-attachment: scroll;
		background-size: 80px;
		opacity: .2;
		display: block;
	}
}


